*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(/images/background\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}
.clock{
    &>h1{
        font-size: 20px;
        text-align: center;
        margin:20px 0 ;

    }
}
#time{
    display: flex;
    gap: 10px;
}
.hour , .minute , .second{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.5);
    &>span{
        font-size: 45px;
        padding: 10px;
        align-self: center;
        justify-self: center;
    }
    &>p{
        font-size: 16px;
        padding: 5px;
        width: 100%;
        text-align: center;
        background-color: rgb(162, 13, 248);
    }
}
.am-pm{
    font-size: 24px;
    align-self: last baseline;
    padding: 5px;
    background-color: rgba(10, 10, 2, 0.322);
}